


.dropdown-menu{
    transition: all 0.3s ease;
    background-color: white;
    height: 100vh;
    padding: 0 20px;
}


.list-item{
    position: relative;
    &::after{
        content: "";
        background-color: #0154A7;
        position: absolute;
        top: 100%;
        left: 0;
        height: 2px;
        width: 0;
        transition: all 0.3s ease;
    }
    &:hover::after{
        width: 100%;
    }
}


